go 1.26.2

use (
	./apps/lina-core
	./apps/lina-plugins
	./apps/lina-plugins/cms
	./apps/lina-plugins/content-notice
	./apps/lina-plugins/demo-control
	./apps/lina-plugins/monitor-loginlog
	./apps/lina-plugins/monitor-online
	./apps/lina-plugins/monitor-operlog
	./apps/lina-plugins/monitor-server
	./apps/lina-plugins/multi-tenant
	./apps/lina-plugins/org-center
	./apps/lina-plugins/plugin-demo-dynamic
	./apps/lina-plugins/plugin-demo-source
	./hack/tools/build-wasm
	./hack/tools/image-builder
	./hack/tools/linactl
	./hack/tools/runtime-i18n
)
